.header-container {
	display: grid;
	grid-template-rows: 60px repeat(2, 1fr);
	/*grid-template-rows: 60px 3fr 2fr;*/
	grid-template-columns: 1fr;

}
.header-container__nav-panel {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-panel__logo {

}
.nav-panel__menu {

}
.header-container__title-part {
	align-self: center;
	text-align: center;
}
.title-part__top-title {
	margin: 0 auto;
	background-color: #7beec7;
	max-width: 100px;
}
.title-part__mid-title {
	margin-top: 0;
	margin-left: auto;
	margin-right: auto;
	border: 10px solid #60606e;
	max-width: 600px;
}
.history-part__history-image {
	font-size: 0;
	width: auto;
	height: auto;
}
.header-container__history-part {
	display: grid;
	grid-template-columns: 1fr 1fr;
}
.history-part__history-text {
	
	align-self: end;
}
.history-text__button {
	position: relative;
	bottom: -25px;
	display: block;
	margin-right: 0;
	margin-left: auto;
	color: #fff;
	border: none;
	background-color: #7beec7;
	width: 165px;
	height: 50px;
}
