.portfolio__portfolio-container {
	display: grid;
	grid-template-rows: 1fr 10fr; 
	grid-template-columns: 20% 80%;
	grid-template-areas:
	"head head"
	"menu images";
}
.menu__title {
	margin-top: 0;
}
.menu__menu-list {
	padding-left: 20px;
}
.portfolio-container__head {
	text-align: center;
	grid-area: head;
}
.portfolio-container__menu {
	grid-area: menu;
}
.portfolio-container__image-container {
	grid-area: images;
}
.portfolio-container__image-container {
/*		display: flex;
	flex-wrap: wrap;*/
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
	grid-auto-flow: row-dense;
	grid-gap: 30px 30px;
}
.check {
/*	display: flex;
	width: auto;
	height: 100%;*/
	/*display: flex;*/
	/*min-width: 0;*/
}
.image-container__image {
	/*object-fit: cover;*/
	height: auto;
	width: 100%;
}