.background__header {
	/*background-image:linear-gradient(to right bottom, rgba(37,227,177,0.9) 0%,rgba(26,192,215,0.9) 100%),url("../images/background-top.png");*/
	background-image: url("../images/background-top.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.background__contact {
	background-color: #7beec7;
}
