.tittle__green-shadow {
	box-shadow: inset 0 -0.7em 0 0 rgba(123, 238, 199, 1); 
}
.history-part__history-text,
.title-part__text,
.title-part__mid-title,
.title-part__top-title,
.nav-panel__logo,
.nav-panel__menu,
.title-part__title,
.title-part__tittle-text,
.history-text__description,
.option__title,
.symbol,
.head__title,
.head__text,
.menu__title,
.menu-list__item,
.right-part__title {
	color: #60606e;
}
.list__item-description,
.right-part__text,
.item__social-icon {
	color: #999999;
}
.left-part__title {
	color: #fff;
}
.nav-panel__menu,
.symbol {
	font-size: 36px;
}
.item__social-icon,
.nav-panel__logo,
.title-part__top-title,
.option__title {
	font-size: 18px;
}
.title-part__text,
.history-text__description,
.right-part__text {
	font-size: 16px;
}
.title-part__mid-title {
	font-size: 48px;
}
.history-text__title,
.title-part__title,
.head__title,
.menu__title,
.left-part__title {
	font-size: 30px;
}
.right-part__title {
	font-size: 24px;
}
.history-text__button,
.title-part__tittle-text,
.list__item-description,
.head__text,
.menu-list__item,
.left-part__button,
.form__send-button,
.item__link {
	font-size: 14px;
}
.title-part__mid-title,
.nav-panel__logo,
.title-part__top-title,
.history-text__title,
.history-text__button,
.title-part__title,
.option__title,
.head__title,
.menu__title,
.menu-list__item,
.left-part__title,
.right-part__title,
.left-part__button,
.form__send-button {
	font-family: 'Montserrat', sans-serif;
}
.title-part__text,
.history-text__description,
.title-part__title-text,
.list__item-description,
.head__text,
.right-part__text,
.item__link,
.copyright__text {
	font-family: 'Open Sans', sans-serif;
}